@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply font-bold text-2xl text-dark leading-8;
  }
  h2 {
    @apply font-bold text-lg text-dark;
  }

  button {
    @apply  active:opacity-90 disabled:opacity-80;
  }

  div::-webkit-scrollbar {
    display: none;
  }

  div {
    -ms-overflow-style: none;  
    scrollbar-width: none;
  }
}

@layer components {
  .main-container {
    @apply flex min-h-screen flex-col;
  }
  .text-sm-gray {
    @apply text-mediumDark text-sm leading-4;
  }
  .white-button {
    @apply bg-white size-10 rounded-xl flex justify-center items-center;
  }

  .skeleton {
    @apply animate-pulse bg-disabled;
  }
}
